<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>v-model 数据源绑定</title>
	</head>
	<body>
		<h1>v-model 数据源绑定 实例</h1>
		<hr>
		<div id="app">
			{{ message }}--jspang
			<h3>文本框</h3>
			<hr>
			<p>v-model(即时显示):<input type="text" v-model = "message" /></p>
			<p>v-model.lazy(失去焦点显示):<input type="text" v-model.lazy = "message" /></p>
			<p>v-model.number(只显示数字):<input type="text" v-model.number = "message" /></p>
			<p>v-model.trim(不能写空格):<input type="text" v-model.trim = "message" /></p>
			
			<h3>文本域</h3>
			<hr>
			<textarea cols="30" rows="10" v-model = "message"></textarea>
			
			<h3>多选按钮绑定一个值</h3>
			<hr>
			<input type="checkbox" id="one" v-model = "isTrue" />
			<label for="one" v-text="isTrue"></label>
			
			<h3>多选按钮绑定数组</h3>
			<hr>
			<input type="checkbox" id="a1" value="jspang" v-model = "names" />
			<label for="a1">jspang</label>
			<input type="checkbox" id="a2" value="panda" v-model = "names" />
			<label for="a2">panda</label>
			<input type="checkbox" id="a3" value="panpan" v-model = "names" />
			<label for="a3">panpan</label>
			<p v-text="names"></p>
			
			<h3>单选按钮绑定数据</h3>
			<hr>
			<input type="radio" id="man" value="男" v-model="sex" />
			<label for="man">男</label>
			<input type="radio" id="woman" value="女" v-model="sex" />
			<label for="woman">女</label>
			<p>你选择的性别是：<span v-text="sex"></span></p>
		</div>
		<script src="../assets/js/vue.js"></script>
		<script>
			var app = new Vue({
				el : "#app" ,
				data : {
					message : "hello world" ,
					isTrue : true ,
					names : [] ,
					sex : "男"
				}
			});
		</script>
	</body>
</html>
